---

---


<form class="flex flex-col items-center gap-4 p-4 border rounded max-w-sm mx-auto mt-6 bg-white">
  <h2 class="text-xl font-bold">Profile Picture</h2>
  
  <img
  src="https://randomuser.me/api/portraits/men/75.jpg"
  alt="Profile picture"
  class="rounded-full w-24 h-24 object-cover"
/>

  
  <input 
    type="file" 
    class="border p-2 rounded w-full"
  />
  
  <button 
    type="submit" 
    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded w-full"
  >
    Upload
  </button>
</form>
